APScheduler==3.10.4
attrs==25.4.0
bcrypt==5.0.0
blinker==1.9.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
Flask==3.0.3
Flask-APScheduler==1.12.2
Flask-Bcrypt==1.0.1
flask-cors==6.0.2
Flask-JWT-Extended==4.7.1
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
fpdf==1.7.2
greenlet==3.3.0
idna==3.11
ImageIO==2.37.2
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lazy_loader==0.4
llvmlite==0.46.0
MarkupSafe==3.0.3
networkx==3.6.1
numba==0.63.1
numpy==2.3.5
packaging==25.0
pandas==2.3.3
pillow==12.1.0
platformdirs==4.5.1
pooch==1.8.2
PyJWT==2.10.1
PyMatting==1.1.14
PyMySQL==1.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
qrcode==8.2
referencing==0.37.0
rembg==2.0.72
requests==2.32.5
rpds-py==0.30.0
scikit-image==0.26.0
scipy==1.17.0
setuptools==82.0.1
six==1.17.0
SQLAlchemy==2.0.45
tifffile==2025.12.20
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
Werkzeug==3.0.3
